<mat-toolbar>
  <div class="col-xs-6 start-xs">
    Bienvenido {{usuario.fullname}}
  </div>
  <div class="col-xs-6 end-xs">
      <button mat-button color="warn" (click)="logout()">Cerrar Sesión</button>
  </div>
</mat-toolbar>

<div class="row full-width">
    <mat-accordion class="full-width">
        <div [@fade]>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h1>Mis reservas</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="full-width" *ngIf="(reservas$ | async) as datasource">
                    <table mat-table [dataSource]="datasource" class="full-width">
                        <ng-container matColumnDef="numero">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="libro">
                            <th mat-header-cell *matHeaderCellDef> Libro </th>
                            <td mat-cell *matCellDef="let element; let i = index;"> {{element.libro.title}} </td>
                        </ng-container>
                        <ng-container matColumnDef="expedicion">
                            <th mat-header-cell *matHeaderCellDef> Fecha Expedición </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaCheckout}} </td>
                        </ng-container>
                        <ng-container matColumnDef="estimada">
                            <th mat-header-cell *matHeaderCellDef> Fecha Estimada </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaRetorno}} </td>
                        </ng-container>
                        <ng-container matColumnDef="devolucion">
                            <th mat-header-cell *matHeaderCellDef> Fecha Devolución </th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element.fechaRetornado; else devolver">{{element.fechaRetornado}} </div>
                                <ng-template #devolver>
                                    <button mat-raised-button color="primary" (click)="devolverLibro(element.id, usuario.id)">Devolver</button>
                                </ng-template>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</div>
<div class="row">
    <div *ngIf="( books$ | async) as books" class="col-xs-12 row">
        <div class="col-xs-12 col-md-6" *ngFor="let book of books">
            <book-card [book]="book" [user]="usuario"></book-card>
        </div>
    </div>
</div>