$component : ".reservas";

.mat-sort-header-container {
    display:flex;
    justify-content:center;
}

table {
    text-align: center !important;
    width: 100%;
}
  
.mat-header-cell {
    text-align: center;
}